table {
	border: 2px solid black;
}
	td {
		border: 1px solid black;
	}
	td.head {
		text-align: center;
		color: #000000;
		font-size: 15px;
	}
	td.tdx {
		text-align: center;
		font-size: 20px;
	}
	td.desc {
		color: #000000;
		font-size: 10px;
	}
.str {
	font-weight: bold;
}
.panel {
	display:none;
	}
		